/* ============================================================================
   OVERLAY
   ============================================================================ */


#page__overlay {
    position: fixed;
    
    bottom: var(--frame-thk);
    left: var(--frame-thk);
    right: var(--frame-thk);
    
    z-index: 5;
    display: block;
    pointer-events: none;

    box-shadow: 0 0 0 100px var(--color-ui-bg);
    border-radius: var(--frame-thk);
    transition: top 0.4s ease, opacity 0.3s;
}
.overlay--expanded {
    top: var(--frame-thk);
}

.overlay--shrunk {
    top: calc(2*var(--frame-thk));
}

.page__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.page__content {
    width: 80%;
    max-width: var(--page-max-width);
    position: relative;
    z-index: 2;
    margin: auto;
}
/* ============================================================================
   HEADER & NAVIGATION
   ============================================================================ */

#navigation {
       
        display: block;
        
    }
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--frame-thk);
    box-sizing: border-box;
    z-index: 30;
    transition: transform 0.4s ease, opacity 0.3s;
    transform: translateY(0rem);
}

#header.hidden {
    transform: translateY(-3rem);
    opacity: 0;
}

#header.visible {
    transform: translateY(0rem);
    opacity: 1;
}

.header__trigger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8rem;
    display: block;
    z-index: 29;
}

.nav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 30;
    height: calc(2*var(--frame-thk));
}



.nav__links, .nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: var(--medium);
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__logo {
    gap: 0;
    justify-content: flex-start;
}
.nav__links li, .nav__logo li {
    position: relative;
}

.nav__links a, .nav__logo a {
    display: flex;
    align-items: center;
    font-family: var(--font-ui);
    opacity: 0.2;
    text-decoration: none;
    color: var(--color-ui-text);
    transition: opacity 0.2s;
}
.nav__links a:hover, .nav__logo a:hover {
    opacity: 1;
}
.nav__links--left,
.nav__links--right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--medium);
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__links--left {
    justify-content: flex-start;
}

.nav__links--right {
    justify-content: flex-end;
}
.menu-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 30;

    background: none;
    color: var(--color-ui-text);
    border: none;
}
.menu-toggle .icon{
    
    
    width: var(--button-size);
    height: var(--button-size);
    
    cursor: pointer;
    
}

/* ============================================================================
   SIDEBAR
   ============================================================================ */
#sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-ui-bg);
    color: var(--color-ui-text);
    z-index: 50;
    transition: left 0.6s ease;
}

#sidebar.is-open {
    left: 0;
}
#sidebar.is-closed {
    left: -100%;
}
#sidebar nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 3rem;
    gap: 1.5rem;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar__links li {
    margin: 10px 0;
}

.sidebar__links a {
    display: block;
    width: 100%;
    padding: 15px;
    background: none;
    border: none;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    
    cursor: pointer;
}

.sidebar__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
    width: auto;
    height: auto;
    color: var(--color-ui-text);
    line-height: 1em;
    background: none;
    border: none;
    font-size: 3rem;

    cursor: pointer;
}

#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    opacity: 0;
    visibility: hidden;
    z-index: 40;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
}

#sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s;
}
/* ============================================================================
   FOOTER
   ============================================================================ */
.footer {
    position: relative;
    z-index: 50;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    padding-top: var(--medium);
    padding-bottom: var(--medium);
    background-color: var(--color-ui-bg);
    color: var(--color-ui-text);
}
.footer__links {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer__link {
  opacity: .6;

  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: .9;
}

.footer__link:active {
  opacity: .8;
}
.image-container.image img {
    width: 100%;
    height: auto;
}

.image-container.vimeo iframe {
    width: 100%;
    height: 360px;
    border-radius: 10px;
}

.image-container.gif img {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    margin-bottom: 2vw;
}

.image-container.rive canvas {
    width: 100%;
    background-color: transparent;
}

/*  ===========================================================================
    PROJECT NAV BUTTONS 
    ============================================================================ */

    .project-navigation {
        display: flex;
        justify-content: center;
        margin: var(--medium) 0;
        gap: var(--xsmall);

      }
      
      .nav-button {
        width: var(--xlarge);
        height: var(--xlarge);
        
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 50%;
        border: 1px solid #e41515;
        background-color: var(--color-ui-bg);
        color: var(--color-ui-text);
        transform-origin: center center;
        transition: transform 0.2s ease, opacity 0.2s ease;
    }
    .nav-button .icon {
        width: 50%;
        height: 50%;
    }
    .nav-button:hover {
    transform: scale(1.1);
    }

    .nav-button.disabled {
    opacity: 0.3;
    pointer-events: none;
    }
    
/* ============================================================================
   RESPONSIVE DESIGN
   ============================================================================ */


@media (max-width: 768px) {
    
    
    #header {
        display: none;
    }

    .header__trigger {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    

    .nav__logo {
        width: 100%;
        justify-content: center;
    }
    .nav__links {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav__links--left,
    .nav__links--right {
        flex-direction: column;
    }

    .nav__links--left {
        margin-bottom: 1rem;
    }

    .nav__links--right {
        margin-top: 1rem;
    }

    .nav__links a {
        font-size: 4rem;
    }

    

    .footer__links {
        flex-direction: column;
    }

    .footer__link {
        margin-top: var(--xxsmall);
        margin-bottom: var(--xxsmall);
        
    }
}
