 .device {
    position: relative;
    width: 100%;
    display: flex;
    }

    .device-frame {
    width: 100%;
    display: block;
    }

    .device-screen {
    position: absolute;
    top: 18%;
    left: 21.5%;
    width: 58%;
    height: 56.2%;
    border-radius: 2%;
    overflow: hidden; 
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    }

    .screen-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
    .screen-content img{
    
    width: 100%;
    }