<div id="contactModal" class="contact-modal hidden">
  <div class="contact-content">
    
    <button class="btn__close" id="closeContact">&times;</button>
    <div class="contact-main">
    <h3>Contact Us</h3>

      <form 
        id="contactForm"
        name="contact"
        method="POST"
        data-netlify="true"
        data-netlify-honeypot="bot-field"
        >
        <!-- hidden field REQUIRED -->
        <input type="hidden" name="form-name" value="contact" />

        <!-- spam protection -->
        <input type="text" name="bot-field" hidden />

        <input type="text" name="name" placeholder="Your Name" required />
        <input type="email" name="email" placeholder="Your Email" required />
        <textarea name="message" placeholder="Write your message..." required></textarea>

        <button type="submit">Send</button>
      </form>
    </div>
    <p class="contact-alt">
      or send us an email on 
      <a href="mailto:svitlana.o.fedorenko@gmail.com">svitlana.o.fedorenko@gmail.com</a>
    </p>

  </div>
</div>