<section id="footer">
    <footer>
        <div class="footer-container">
            <div class="footer-text">
                <p>© 2025 Fedorenko Studio. All rights reserved.</p>
            </div>
            <div class="footer-buttons">
                <nav>
                    <a href="about.html">About</a>
                    <a href="licensing.html">Licensing</a>
                    <a href="contact.html">Contact</a>
                </nav>
            </div>
                
        </div>
    </footer>
</section>