    <footer>
        <div class="footer__container">
            <div class="footer__text">
                <h5>© 2025 Fedorenko Studio. All rights reserved.</h5>
            </div>
            <div class="footer__buttons">
                <nav>
                    <a href="about.html"><h5>Impressum</h5></a>
                    <a href="licensing.html"><h5>AGB</h5></a>
                    <a href="contact.html"><h5>Datenschutzerklärung</h5></a>
                </nav>
            </div>
            
        </div>
        
    </footer>