
    <nav id="headerNav" class="nav__container">
        
        <ul class="nav__logo"><li><a href="/pages/landing.html"><h5>My Website</h5></a></li></ul>
                
        <ul class="nav__links">
            
                <ul class="nav__links--left">
                    <li><a href="/pages/services.html"><h6>Services</h6></a></li>
                     <li><a href="/pages/all-projects.html"><h6>Projects</h6></a></li>
                     <li><a href="/pages/about.html"><h6>About us</h6></a></li>
                    
                </ul>

                <ul class="nav__links--right">
                    <li><a href="/pages/contact.html"><h6>Contact</h6></a></li>
                </ul>
            
        </ul>
        <button class="menu-toggle"></button>
    </nav>



