
<section id="header">
<header>
    
    <nav class="header__nav">
        <div id="header__trigger" class="header__trigger"></div>
        <div class="header__logo"><a href="../index.html">My Website</a></div>
        <button class="header__hamburger" id="hamburger">&#9776;</button>
        
        <ul class="header__nav-links">
            
                <ul class="nav-links--left">
                    <li><a href="../services.html">Services</a></li>
                     <li><a href="../all-projects.html">Projects</a></li>
                     <li><a href="../about.html">About us</a></li>
                    
                </ul>

                <ul class="nav-links--right">
                    <li><a href="../contact.html">Contact</a></li>
                </ul>
            
        </ul>
        
    </nav>
    
    <div class="sidebar" id="sidebar">
        <button class="sidebar__close-btn" id="close-btn">&times;</button>
        <ul class="sidebar__links">
            <ul class="sidebar__links--top">
                <li><a href="../services.html">Services</a></li>
                <li><a href="../all-projects.html">Projects</a></li>
                <li><a href="../about.html">About us</a></li>
            </ul>

           <ul class="sidebar__links--bottom">
            <li><a href="../contact.html">Contact</a></li>
            </ul>
        </ul>
    </div>

    <div class="sidebar__overlay" id="overlay"></div>
    
</header>
</section>