<section id="header">
<header>
    <nav class="header__nav">
        <div class="header__logo"><a href="../index.html">My Website</a></div>
        <button class="header__hamburger" id="hamburger">&#9776;</button>
        
        <ul class="header__nav-links">
            
                <ul class="nav-links--left">
                    <li class="header__dropdown">
                        <a href="../all-projects.html" id="projects-btn">Projects <span class="arrow">&#x25BC;</span></a>
                        <ul class="header__dropdown-menu">
                            <li><a href="../all-projects.html">All Projects</a></li>
                            <li><a href="../all-projects.html?category=Branding">Branding</a></li>
                            <li><a href="../all-projects.html?category=Posters">Posters</a></li>
                            <li><a href="../all-projects.html?category=Print">Print</a></li>
                            <li><a href="../all-projects.html?category=Illustration">Illustration</a></li>
                        </ul>
                    </li>
                    <li><a href="../services.html">Services</a></li>
                    <li><a href="../index.html">Clients</a></li>
                </ul>

                <ul class="nav-links--right">
                    <li><a href="../about.html">About us</a></li>
                    <li><a href="../contact.html">Contact</a></li>
                </ul>
            
        </ul>
        
    </nav>
    
    <div class="sidebar" id="sidebar">
        <button class="sidebar__close-btn" id="close-btn">&times;</button>
        <ul class="sidebar__links">
            <li class="sidebar__dropdown">
                <button id="sidebar-projects-btn">
                    <span class="text">Projects</span>
                    <span class="arrow">&#x25BC;</span> <!-- Dropdown arrow -->
                </button>
                <ul class="sidebar__dropdown-menu" id="sidebar-dropdown-menu">
                    <li><a href="../all-projects.html">All Projects</a></li>
                    <li><a href="../all-projects.html?category=Branding">Branding</a></li>
                    <li><a href="../all-projects.html?category=Posters">Posters</a></li>
                    <li><a href="../all-projects.html?category=Print">Print</a></li>
                    <li><a href="../all-projects.html?category=Illustration">Illustration</a></li>
                </ul>
            </li>
            <li><a href="../services.html">Services</a></li>
            <li><a href="../index.html">Clients</a></li>
            
            <li><a href="../about.html">About us</a></li>
            <li><a href="../contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="sidebar__overlay" id="overlay"></div>
    
</header>
</section>